#board {
	background-color: #767676;
	margin: auto;
	width: 500px;
	height: 500px;
	padding: 10px;
}

.gameOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	text-align: center;
}

.gameOverlayInfo h2 {
	color: white;
}

.gameOverlayInfo {
	margin-top: 250px;
}